/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  section {
    padding: 2em;
    background-color: white;
    color: #333;
    position: relative;
    z-index: 1;
  }
  
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url(banner.avif);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
  }
  